@font-face { font-family: VT; src: url('fonts/traveling_typewriter/ttw.ttf'); }
      p {
         font-family: VT
      }
      a {
        font-family: VT;
        text-decoration: none;
        color:black;
      }
      h3 {
        font-family: VT
      }
      i {
        font-family: VT
      }
      div {
        font-family: VT
      }

.text3 {
    margin-right: 200px;
    margin-left: 200px;
}

.text6 {
    margin-right: 250px;
    margin-top: 50px;
    margin-left: 250px;
    font-size: 30px;
    text-align: center;
}

.projects {
    margin-right: 250px;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 250px;
    font-size: 35px;
    text-align: center;
}

.projects_exp {
  margin-right: 200px;
  margin-left: 200px;
}

.text7 {
    margin-right: 500px;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 20px;
    text-align: center;
}

.distro {
    margin-right: 250px;
    margin-top: 100px;
    margin-left: 250px;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.distro_bottom {
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.github {
    margin: auto;
}

.CA {
    border-radius: 5%;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.neofetch {
    border-radius: 5%;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}